*{
    margin: 0;
    padding:0;
    font-family: poppins,sans-serif;
    box-sizing: border-box;
}
body{
    background: #222;
}
.card{
    width: 90%;
    max-width: 470px;
    background:#e0e0e0;
    color: #222;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.search input{
    border: 0;
    outline:0;
    background: #222;
    color: #ffffff;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex:1;
    margin-right: 16px;
    font-size:18px;
}
.search button{
    border: 0;
    background:#b7b7b7;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    cursor: pointer;
    transition: opacity 2000ms ease-in 10ms;
}

.search button:hover{
    background: #868686;
    
}

.search button img{
    width:1.5em;
    height: 1.5em;
}

.weather img{
    height:10em;
    width: 10em;
    margin-top:20%;
    margin-bottom: 10%;
}
.temp{
    font-weight: 700;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;  
    background: #c6c6c6;
    padding: 15px;
    border-radius: 30px;
}
.col:nth-of-type(1){
    padding: 20px;
}
.col img{
    width: 40px;
    height: 40px;
    margin-right:10px;
    padding-bottom: 7px;
}
.humidity, .wind{
    font-family: poppins,sans-serif;
    font-weight: 600;
}
p{
    font-weight: 600;
}

.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 30%;
    font-size: 14px;
    margin-top:30px;
    font-weight: 700;
    display: none;
}